<div class="flex flex-col justify-start items-center w-full h-full gap-20">

    <div class="w-full h-fit">
        <span class="font-principal text-green-400 text-5xl">Personajes destacados</span>
    </div>

    <div class="flex flex-row justify-center items-center w-full">

        <div class="grid grid-cols-1 grid-rows-3 w-full gap-14">
            
            <div class="flex flex-col justify-start">
                <span class="text-white font-principal text-2xl">Rick Sánchez</span>
                <span class="text-green-400 font-semibold font-serif text-lg">El cintifico loco y abuelo de Morty</span>
            </div>

            <div class="flex flex-col justify-start">
                <span class="text-white font-principal text-2xl">Morty Smith</span>
                <span class="text-green-400 font-semibold font-serif text-lg">Nieto de Rick y su compañero de aventuras</span>
            </div>

            <div class="flex flex-col justify-start">
                <span class="text-white font-principal text-2xl">Mr.Meeseeks</span>
                <span class="text-green-400 font-semibold font-serif text-lg">Criatura azul creada para cumplir tareas</span>
            </div>
    
           
    
        </div>

        <div class="flex justify-end items-center w-full">
            <img class="h-96 w-3/4 rounded-xl object-cover" src="assets/rickymorty.jpg" alt="Rick y Morty">
        </div>

    </div>
</div>