<div class="flex flex-row justify-center items-center h-60 w-full px-72 gap-10">
    
    <div class="w-1/2 h-full">
        <h2 class="font-principal text-white text-center text-5xl">Explora el Multiverso</h2>
    </div>

    <div class="w-3/5 h-full">
        <p class="text-left text-2xl font-serif font-semibold text-green-400">
            Bienvenido a la página más loca y alucinante del multiverso de Rick y Morty. Aquí podrás filtrar y descubrir a tus personajes favoritos.
        </p>
    </div>

</div>
